.result__image {
  max-width: 230px;
  max-height: 220px;
}
.result__price {
  margin-top: 10px;
  width: 100px;
  font-weight: 700;
  text-align: end;
}
.result__main-elements {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.result__element-model {
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  margin-left: 10px;
  /* height: 30px;
  overflow: hidden; */
}
.result__main-elemets-element {
  padding: 20px;
  margin: 40px 0 0 70px;
  flex-direction: column;
  /* background-color: rgb(161, 161, 216); */
  width: 21%;
  height: 350px;
  /* border: 0.5px gray solid; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  justify-content: center;
  overflow: hidden;
}
.result__main-flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.result__name {
  width: 75px;
}
.result__main-compare {
  width: 150px;
  height: 40px;
  padding: 5px;
  background-color: rgb(50, 204, 50);
  border-radius: 20px;
  font-weight: 700;
  margin: 20px 20px 0 0;
}
.result__main-btn-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
